.env
logs/
data/mlst_processed_all_samples.tsv
data/scheme_species_map_combined.csv
data/scheme_species_map.tab
data/atb.metadata.202408.sqlite.xz
outputs/
atb-ai-agent/data/GCF_000013425.1_ASM1342v1_genomic.fna